<% if params[:search] and params[:search] != "" %>
  <ul>
    <% @results.each do |tweet| %>
      <li class="tweet">
        <%= image_tag("#{tweet.user.profile_image_url}") %> <strong><%= tweet.user.name %></strong> <%= "@#{tweet.user.user_name}" %><br>
        <%= tweet.text %><br>
        <a href="<%= tweet.uri %>" target="_blank"><%= tweet.uri %></a>
      </li>
      <br>
    <% end %>
  </ul>
<% end %>