<% if params[:search] and params[:search] != "" %>
  <ul>
    <% @results.each do |tweet| %>
      <li class="tweet">
        <div class="tweet-image">
          <%= image_tag("#{tweet.user.profile_image_url}") %>
        </div>
        <div class="tweet-content">
          <h1><%= tweet.user.name %></h1>
          <h2><%= "@#{tweet.user.user_name}" %></h2><br>
          <%= tweet.text %><br>
          <a href="<%= tweet.uri %>" target="_blank"><%= tweet.uri %></a>
          <span data-tooltip class="has-tip tip-top" title="Favorite me plz :]">
            <% if current_user %>
              <%= link_to raw('<i class="fa fa-check-circle-o"></i>'), favorite_path(tweet: tweet, search: params[:search]), method: 'post' %>
            <% else %>
              <i class="fa fa-check-circle-o" onclick="alert('Log in first :]')"></i>
            <% end %>
          </span>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>