<!-- 
Major Oustanding Todos
-Hide API keys / secret (application_controller, user.rb, omniauth.rb)
-Regenerate API keys
-URL encode search queries
- 
-->

<script>
  var ready;
  ready = function() {

    var searchVal;
    searchVal = $("#search").val();

    var incrementVal = 0;

    $("#more").click(function() {
      incrementVal += 10;
      console.log(incrementVal);
      $.get("/searches/", {search: searchVal, increment: incrementVal}, null, 'script');
    });

  };

  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>

<br>
<div class="row">
  <% if current_user %>
    <!-- <h3>Hey there <strong><%= current_user.name %></strong>, looking pretty good today!</h3> -->
  <% end %>
  <%= form_tag root_path, :method => 'get', :id => "search-box" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div id="search-results" class="row">
  <%= render 'results' %>
</div>

<div id="more" style="border: 2px solid red">
  More
</div>