<!-- 
Major Oustanding Todos
-Hide API keys / secret
-Regenerate API keys
-URL encode search queries
- 
-->

<br>
<div class="row">
  <% if current_user %>
    <!-- <h3>Hey there <strong><%= current_user.name %></strong>, looking pretty good today!</h3> -->
  <% end %>
  <%= form_tag root_path, :method => 'get' do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
@gem@gem
<div class="row">
  <ul>
    <% if params[:search] %>
      <% current_user.twitter.update("Test tweet from the Twitter API") %>
      <% current_user.twitter.search(params[:search]).take(20).each do |tweet| %>
        <li><%= tweet['text'] %></li>
      <% end %>
    <% end %>
  </ul>
</div>