<!-- 
Major Oustanding Todos
-Hide API keys / secret (application_controller, user.rb, omniauth.rb)
-Regenerate API keys
-URL encode search queries
- 
-->

<script>
  var ready;
  ready = function() {

    $("#more").click(function() {
      console.log("yay!");
      $.get("/searches/", {search: <%= escape_javascript(params[:search]).html_safe %>, increment: 10}, null, 'script');
    });

  };

  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>

<br>
<div class="row">
  <% if current_user %>
    <!-- <h3>Hey there <strong><%= current_user.name %></strong>, looking pretty good today!</h3> -->
  <% end %>
  <%= form_tag root_path, :method => 'get' do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div id="search-results" class="row">
  <%= render 'results' %>
</div>

<div id="more" style="border: 2px solid red">
  More
</div>