<!-- 
Major Oustanding Todos
-Update API keys
-Hide API keys / secret
- 
-->

<br>
<div class="row">
  <%= form_tag root_path, :method => 'get' do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div class="row">
  <br>
  <% if current_user %>
    <!-- <h3>Hey there <strong><%= current_user.name %></strong>, looking pretty good today!</h3> -->
  <% end %>
  <br>
  <ul>
    <% if params[:search] %>
      <% @results['statuses'].each do |tweet| %>
        <li><%= tweet['text'] %></li>
      <% end %>
    <% end %>
  </ul>

</div>