<!-- 
Major Oustanding Todos
-Hide API keys / secret (application_controller, user.rb, omniauth.rb)
-Regenerate API keys
-URL encode search queries
- 
-->

<br>
<div class="row">
  <% if current_user %>
    <!-- <h3>Hey there <strong><%= current_user.name %></strong>, looking pretty good today!</h3> -->
  <% end %>
  <%= form_tag root_path, :method => 'get' do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div class="row">
  <% if params[:search] %>
    <ul>
      <% @results.each do |tweet| %>
        <li><%= tweet.text %></li>
      <% end %>
    </ul>
  <% end %>
</div>